* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
}

.brain-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.brain {
  width: 80vw;
}

.barra-fixa {
    position: fixed;     
    bottom: 0;           
    left: 0;            
    width: 100%;         
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.carrossel {
    padding: 10px;
    width: 100%; 
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;   
    gap: 5px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.carrossel button {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #6FCF97;
    border-radius: 5px;
    flex: 0 0 22%;  
    opacity: 0.5;         
    transform: scale(0.8); 
    transition: transform 0.3s, opacity 0.3s;
}

.carrossel button.ativo {
    opacity: 1;
    transform: scale(1);
}

.panel {
  display: none; 
}

.panel.ativa {
  display: block;
}